[Unit]
Description=Bot de Telegram - LVM
After=network.target lvm.service

[Service]
User=root
Group=root
WorkingDirectory=/var/www/lvm
Environment="PATH=/var/www/lvm/venv/bin"
EnvironmentFile=/var/www/lvm/.env
ExecStart=/var/www/lvm/venv/bin/python telegram_bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
