[Unit]
Description=Gunicorn - Aplicación LVM (Flask)
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/www/lvm
Environment="PATH=/var/www/lvm/venv/bin"
EnvironmentFile=/var/www/lvm/.env
ExecStart=/var/www/lvm/venv/bin/gunicorn --workers 2 --bind 127.0.0.1:5000 --timeout 120 app:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
